<md-content layout-padding layout-wrap>
    <h2 flex>Notify</h2>

    <md-content flex>
        <md-input-container id="message-input-container" flex>
            <label>Message</label>
            <input type="text" ng-model="ctrl.message" id="message-input">
        </md-input-container>
        <md-input-container id="delay-input-container" flex>
            <label>Delay (in seconds)</label>
            <input type="number" ng-model="ctrl.delay" id="delay-input">
        </md-input-container>
        <p></p>
        <md-button class="md-raised md-accent" ng-click="ctrl.setTimeout(ctrl.message, ctrl.delay)" aria-label="Set Timeout" ng-disabled="ctrl.promiseInProgress">
            Set Timeout
        </md-button>
    </md-content>

    <md-content flex>
        <h3>Message</h3>
        <md-progress-circular md-mode="determinate" value="{{ctrl.progressValue * 10}}" ng-show="ctrl.promiseInProgress"></md-progress-circular>
        <p>{{ctrl.returnMessage}}</p>
    </md-content>

    <md-content flex>
        <p><code>defered.notify()</code> and the corresponding listener through the promise API can be used to update the user on the progress towards the completion of a promise. This is not widely used since most async operations involve operations which aren't inherently conducive to progress updates.</p>
        <gist id="19424d31a9315d150501"></gist>
    </md-content>

</md-content>